{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if messages %}
<ul class="messages">
  {% for msg in messages %}
    <li class="{{msg.tags}}">{{ msg }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if latest_question_list %}
 <ul>
    {% for question in latest_question_list %}
        <li>
            {{ question.question_text }}
            <a href="{% url 'polls:detail' question.id %}"> <button {%  if not question.can_vote %} disabled {% endif %}>vote</button></a> 
            <a href="{% url 'polls:results' question.id %}">  <button>results</button> </a>
        </li>
    {% endfor %}
 </ul>
 {% else %}
    <p> No polls are available.</p>
{% endif %}